body {
    background-color: #f0f0f0;
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    min-height: 100vh; /* Garante que o body ocupa a altura da tela */
    display: flex;
    flex-direction: column;
}

/* Estilo para o cabeçalho */
header {
    background-color: #7FFFD4;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Estilo para a navegação (nav) */
nav {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    margin: 0;
    width: 100%; /* Alinha a barra de navegação com a barra verde */
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

/* Estilo para o conteúdo principal */
main {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    max-width: 1000px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-grow: 1; /* Faz com que o main ocupe o espaço restante */
}

/* Estilo para as imagens */
img {
    width: 100%;
    border-radius: 8px;
}

/* Estilo para o rodapé */
footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
}
